:root {
  --blue-100: #e9ebf1;
  --blue-200: #7ccdf4;
  --blue-300: #00a9e2;
  --blue-400: #007bba;
  --blue-500: #2d2d41;
  --blue-600: #23233b;
  --gray-100: #f8f8f8;
  --gray-200: #c5c6c6;
  --gray-300: #b2b0b0;
  --gray-400: #6f6f6f;
  --orange: orange;
  --purple: purple;
  --bordeaux: rgb(200, 54, 85);
}

*,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: var(--gray-400);
  font-weight: 600;
  font-size: small;
  opacity: 1;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 5rem;
  background-color: var(--blue-500);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  grid-column: 1 / span 2;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-400);
}

.footer__copyright {
  width: 70%;
}

.search-form {
  grid-column: 3 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.search-form__input {
  border: none;
  height: 1.8rem;
  border-radius: 2rem 0 0 2rem;
  outline: none;
  color: var(--gray-400);
  padding: 0 1rem;
  width: 100%;
  font-weight: 600;
  font-size: small;
}

.search-form__submit {
  border: none;
  height: 1.8rem;
  padding: 0 1rem;
  border-radius: 0 2rem 2rem 0;
  background-color: white;
  color: var(--gray-400);
  cursor: pointer;
}

.header-nav {
  grid-column: 6 / span 3;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.header-nav__items {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-600);
  margin: 0;
  padding: 0;
}

.header-nav__item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-200);
  cursor: pointer;
  height: 100%;
  white-space: nowrap;
}

.login-button {
  grid-column: 9 / span 2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--blue-300);
  background: none;
  cursor: pointer;
  font-weight: 600;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100vh;
}

.sidebar-left {
  grid-column: 1 / span 2;
  border-right: 2px solid var(--blue-100);
}

.main {
  grid-column: 3 / span 6;
}

.sidebar-right {
  grid-column: 9 / span 2;
  background-color: var(--blue-100);
}

.sidebar-left__button-container {
  height: 10rem;
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-left__button {
  height: 30%;
  width: 70%;
  text-transform: uppercase;
  background-color: var(--blue-300);
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar-left__nav {
  color: var(--gray-400);
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: center;
}

.sidebar-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 70%;
}

.sidebar-left__item {
  padding: 0.6rem 0;
  cursor: pointer;
}

.sidebar-left__item-text {
  padding: 0 1rem;
}

.media-links {
  height: 5rem;
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-link {
  background-color: var(--gray-400);
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.main-header {
  height: 10rem;
}

.main-header__top {
  height: 65%;
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.main-header__bottom {
  height: 35%;
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.main-header__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

.main-header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  height: 100%;
  border-bottom: 4px solid transparent;
  color: var(--gray-400);
}

.main-header__item--active {
  border-bottom: 4px solid var(--orange);
}

.sidebar-right__stats {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-right__questions {
  border-left: 4px solid var(--blue-300);
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.sidebar-right__members {
  border-left: 4px solid var(--orange);
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.sidebar-right__total {
  font-weight: 600;
  font-size: 2.3rem;
  margin: 0;
}

.sidebar-right__tags {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.sidebar-right__tags-title {
  border-bottom: 2px solid var(--gray-200);
  text-transform: uppercase;
  padding-bottom: 0.6rem;
  margin: 0;
}

.sidebar-right__tags-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sidebar-right__tags-item {
  width: fit-content;
  color: var(--gray-400);
  background-color: var(--gray-100);
  border: 2px solid var(--gray-300);
  border-radius: 1rem;
  padding: 0.1rem 0.6rem;
  margin-top: 1rem;
}

.sidebar-right__hot-questions {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-right__hot-title {
  border-bottom: 2px solid var(--gray-200);
  text-transform: uppercase;
  padding-bottom: 0.6rem;
  margin: 0;
}

.sidebar-right__hot-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-right__hot-item {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.6rem;
  margin-top: 1rem;
}

.sidebar-right__hot-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sidebar-right__hot-question {
  margin-left: 1rem;
  color: var(--blue-300);
  font-weight: 600;
}

.count-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.main-header__filter,
.count-filter__select {
  background-color: var(--blue-100);
  color: var(--gray-400);
  padding: 0.6rem;
  border-radius: 0.2rem;
  border: 2px solid var(--gray-300);
}

.main-header__filter {
  width: 30%;
}

.count-filter__select {
  width: 25%;
  min-width: 3.6rem;
  margin-left: 1rem;
}

.question {
  border-bottom: 2px solid var(--blue-100);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.question__details {
  width: 60%;
}

.question__title {
  margin: 0;
}

.question__title::after {
  content: "?";
}

.question__description {
  color: var(--gray-400);
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question__tags {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.question__tag {
  width: fit-content;
  color: var(--gray-400);
  background-color: var(--gray-100);
  border: 2px solid var(--gray-300);
  border-radius: 1rem;
  padding: 0.1rem 0.6rem;
  margin: 1.5rem 0;
  margin-right: 1rem;
}

.question__metadata {
  display: flex;
  align-items: center;
}

.question__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.question__username {
  margin: 0 1rem;
  color: var(--gray-400);
}

.question__status {
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 0.2rem;
  margin-right: 1rem;
}

.question__status--professor {
  background-color: var(--blue-400);
}

.question__status--reviewer {
  background-color: var(--bordeaux);
}

.question__status--train {
  background-color: var(--purple);
}

.question__asked-on {
  color: var(--gray-400);
}

.question__category {
  color: var(--blue-300);
  font-weight: 600;
}

.question__stats {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.question__stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__stats-views-count,
.question__stats-answers-count,
.question__stats-votes-count {
  border: 2px solid var(--blue-100);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header-nav__hamburger {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--blue-600);
  border: none;
  color: var(--gray-200);
  cursor: pointer;
}

.login-button__icon {
  display: none;
}

@media (max-width: 1400px) {
  .header-nav__items {
    flex-direction: column;
    display: none;
  }

  .header-nav__hamburger {
    display: block;
  }

  .header-nav {
    grid-column: 8 / span 1;
  }

  .search-form {
    grid-column: 3 / span 3;
  }
}

@media (max-width: 1200px) {
  .sidebar-right {
    display: none;
  }

  .main {
    grid-column: 3 / span 8;
  }

  .sidebar-left__list {
    width: auto;
  }

  .footer__copyright {
    width: auto;
  }
}

@media (max-width: 992px) {
  .header__title {
    padding-left: 1rem;
    width: 70%;
  }

  .question__stats {
    flex-direction: column;
    justify-content: flex-start;
  }

  .question__stats-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }

  .question__stats-views-count,
  .question__stats-answers-count,
  .question__stats-votes-count {
    margin: 0;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .sidebar-left {
    display: none;
  }

  .main {
    grid-column: 1 / span 10;
  }

  .search-form {
    grid-column: 8 / span 1;
    padding: 0;
  }

  .search-form__input {
    display: none;
  }

  .search-form__submit {
    font-size: 14pt;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: var(--blue-500);
    color: var(--gray-200);
  }

  .login-button {
    grid-column: 10 / span 1;
  }

  .login-button__icon {
    display: block;
    font-size: 14pt;
  }

  .login-button__text {
    display: none;
  }

  .header-nav {
    grid-column: 9 / span 1;
  }

  .question__placeholder {
    display: none;
  }

  .question__stats-item {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .question__stats-views-count,
  .question__stats-answers-count,
  .question__stats-votes-count {
    margin-right: 0.4rem;
  }

  .count-filter__label {
    display: none;
  }

  .question__stats {
    margin-top: 0;
  }
}
