<aside class="hamburger">
  <button class="hamburger__button" (click)="toggleMenu()">
    <fa-icon [icon]="faBars" size="2x" [fixedWidth]="true"></fa-icon>
  </button>
  <ul
    class="hamburger__list"
    [ngClass]="{ 'hamburger__list--show': menuIsShown }"
    (mouseleave)="menuIsShown = false"
    (click)="menuIsShown = false"
  >
    <li routerLink="/ask" class="hamburger__item" id="hamburgerAskQuestion">
      + Ask a question
    </li>
    <li routerLink="/all" class="hamburger__item" id="hamburgerHome">Home</li>
    <li class="hamburger__item">
      About us<fa-icon [icon]="faCaretDown" [fixedWidth]="true"></fa-icon>
    </li>
    <li class="hamburger__item">Blog</li>
    <li class="hamburger__item">Term</li>
    <li class="hamburger__item">Contract</li>
    <li routerLink="/new" class="hamburger__item" id="hamburgerNewQuestions">
      New questions
    </li>
    <li routerLink="/all" class="hamburger__item" id="hamburgerAllQuestions">
      All questions
    </li>
    <li class="hamburger__item">Tags</li>
    <li class="hamburger__item">Badges</li>
    <li class="hamburger__item">Categories</li>
    <li class="hamburger__item">Users</li>
  </ul>
</aside>
