<header class="header">
  <h1 class="header__title"><b>Forum</b>App</h1>
  <form class="search-form">
    <input
      type="text"
      class="search-form__input"
      placeholder="Enter Keywords"
    />
    <button class="search-form__submit">
      <fa-icon [icon]="faSearch" [fixedWidth]="true"></fa-icon>
    </button>
  </form>
  <app-header-nav></app-header-nav>
  <button class="login-button">
    <span class="login-button__icon"
      ><fa-icon [icon]="faUser" [fixedWidth]="true"></fa-icon
    ></span>
    <span class="login-button__text">Login or Register</span>
  </button>
</header>
