<footer class="pagination">
  <div class="pagination__text">
    Viewing results
    <span class="pagination__from">{{ resultsFrom | async }}</span> -
    <span class="pagination__to">{{ resultsTo | async }}</span>
  </div>
  <nav class="pagination__nav">
    <button
      [disabled]="(currentPage | async) === 1"
      class="pagination__first"
      (click)="onNavigateFirst()"
    >
      <fa-icon [icon]="faAnglesLeft" [fixedWidth]="true"></fa-icon>
    </button>
    <button
      [disabled]="(currentPage | async) === 1"
      class="pagination__prev"
      (click)="onNavigatePrev()"
    >
      <fa-icon [icon]="faAngleLeft" [fixedWidth]="true"></fa-icon>
    </button>
    <span class="pagination__current">{{ currentPage | async }}</span>
    <button
      [disabled]="(currentPage | async)! >= (lastPage | async)!"
      class="pagination__next"
      (click)="onNavigateNext()"
    >
      <fa-icon [icon]="faAngleRight" [fixedWidth]="true"></fa-icon>
    </button>
    <button
      [disabled]="(currentPage | async)! >= (lastPage | async)!"
      class="pagination__last"
      (click)="onNavigateLast()"
    >
      <fa-icon [icon]="faAnglesRight" [fixedWidth]="true"></fa-icon>
    </button>
  </nav>
</footer>
