@use "src/app/shared/styles/variables/breakpoints.scss" as *;

.sidebar-left__nav {
  color: var(--gray-400);
  border-bottom: 2px solid var(--blue-100);
  display: flex;
  justify-content: center;
}

.sidebar-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 70%;
}

.sidebar-left__item {
  padding: 0.6rem 0;
  cursor: pointer;
}

.sidebar-left__item:hover {
  color: var(--blue-300);
}

.sidebar-left__item-text {
  padding: 0 1rem;
}

@media (max-width: $large) {
  .sidebar-left__list {
    width: auto;
  }
}
