<nav class="sidebar-left__nav">
  <ul class="sidebar-left__list">
    <li id="newQuestionsPage" class="sidebar-left__item">
      <fa-icon [icon]="faCertificate" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">New Questions</span>
    </li>
    <li id="allQuestionsPage" class="sidebar-left__item">
      <fa-icon [icon]="faCircleQuestion" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">All Questions</span>
    </li>
    <li class="sidebar-left__item">
      <fa-icon [icon]="faTags" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">Tags</span>
    </li>
    <li class="sidebar-left__item">
      <fa-icon [icon]="faTrophy" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">Badges</span>
    </li>
    <li class="sidebar-left__item">
      <fa-icon [icon]="faList" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">Categories</span>
    </li>
    <li class="sidebar-left__item">
      <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon
      ><span class="sidebar-left__item-text">Users</span>
    </li>
  </ul>
</nav>
