<template id="askQuestionTemplate">
  <form class="question-form">
    <div id="formNameWrapper" class="question-form__input-wrapper">
      <input
        id="inputName"
        type="text"
        name="name"
        class="question-form__input"
        maxlength="40"
      />
      <label for="inputName" class="question-form__label">Name</label>
    </div>
    <div id="formTitleWrapper" class="question-form__input-wrapper">
      <input
        id="inputTitle"
        type="text"
        name="title"
        class="question-form__input"
        maxlength="140"
      />
      <label for="inputTitle" class="question-form__label">Title</label>
    </div>
    <div
      id="formDescriptionWrapper"
      class="question-form__input-wrapper question-form__input-wrapper--textarea"
    >
      <textarea
        id="inputDescription"
        class="question-form__input question-form__input--textarea"
        name="description"
        maxlength="5000"
      ></textarea>
      <label
        for="inputDescription"
        class="question-form__label question-form__label--textarea"
        >Description</label
      >
    </div>
    <div id="formDateWrapper" class="question-form__input-wrapper">
      <div class="question-form__date-wrapper">
        <input
          id="inputYear"
          type="number"
          name="year"
          class="question-form__input"
        />
        <label for="inputYear" class="question-form__date-label">Year</label>
      </div>
      <div class="question-form__date-wrapper">
        <input
          id="inputMonth"
          type="number"
          name="month"
          class="question-form__input"
        />
        <label for="inputMonth" class="question-form__date-label">Month</label>
      </div>
      <div class="question-form__date-wrapper">
        <input
          id="inputDay"
          type="number"
          name="day"
          class="question-form__input"
        />
        <label for="inputDay" class="question-form__date-label">Day</label>
      </div>
    </div>
    <div id="formCategoryWrapper" class="question-form__input-wrapper">
      <input
        id="inputCategory"
        type="text"
        name="category"
        class="question-form__input"
        maxlength="40"
      />
      <label for="inputCategory" class="question-form__label">Category</label>
    </div>
    <div id="formTagsWrapper" class="question-form__input-wrapper">
      <input
        id="inputTags"
        type="text"
        name="tags"
        class="question-form__input"
        maxlength="140"
      />
      <label for="inputTags" class="question-form__label"
        >Tags <i>(optional)</i></label
      >
    </div>
    <div class="question-form__buttons-wrapper">
      <button
        type="submit"
        class="question-form__button question-form__button--main"
      >
        Save
      </button>
      <button
        id="resetFormButton"
        class="question-form__button question-form__button--clear"
      >
        Clear
      </button>
    </div>
  </form>
</template>
