<form [formGroup]="form" class="question-form" (ngSubmit)="onSubmit()">
  <div id="formNameWrapper" class="question-form__input-wrapper">
    <input
      appInput
      formControlName="name"
      id="inputName"
      type="text"
      class="question-form__input"
    />
    <label
      for="inputName"
      class="question-form__label"
      [ngClass]="{ 'question-form__label--was-focused': init }"
      >Name</label
    >
  </div>
  <label
    *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
    for="inputName"
    class="question-form__error-label"
  >
    Please enter a valid name (&#60; 40 chars)
  </label>
  <div id="formTitleWrapper" class="question-form__input-wrapper">
    <input
      appInput
      formControlName="title"
      id="inputTitle"
      type="text"
      class="question-form__input"
    />
    <label
      for="inputTitle"
      class="question-form__label"
      [ngClass]="{ 'question-form__label--was-focused': init }"
      >Title</label
    >
  </div>
  <label
    *ngIf="!form.get('title')?.valid && form.get('title')?.touched"
    for="inputTitle"
    class="question-form__error-label"
  >
    Please enter a valid title (&#60; 140 chars)
  </label>
  <div
    id="formDescriptionWrapper"
    class="question-form__input-wrapper question-form__input-wrapper--textarea"
  >
    <textarea
      appInput
      formControlName="description"
      id="inputDescription"
      class="question-form__input question-form__input--textarea"
    ></textarea>
    <label
      for="inputDescription"
      class="question-form__label question-form__label--textarea"
      [ngClass]="{ 'question-form__label--was-focused': init }"
      >Description</label
    >
  </div>
  <label
    *ngIf="!form.get('description')?.valid && form.get('description')?.touched"
    for="inputDescription"
    class="question-form__error-label"
  >
    Please enter a valid description (&#60; 4000 chars)
  </label>
  <div
    formGroupName="date"
    id="formDateWrapper"
    class="question-form__input-wrapper"
  >
    <div class="question-form__date-wrapper">
      <input
        appInput
        formControlName="year"
        id="inputYear"
        type="number"
        class="question-form__input"
      />
      <label
        for="inputYear"
        class="question-form__date-label"
        [ngClass]="{ 'question-form__label--was-focused': init }"
        >Year</label
      >
    </div>
    <div class="question-form__date-wrapper">
      <input
        appInput
        formControlName="month"
        id="inputMonth"
        type="number"
        class="question-form__input"
      />
      <label
        for="inputMonth"
        class="question-form__date-label"
        [ngClass]="{ 'question-form__label--was-focused': init }"
        >Month</label
      >
    </div>
    <div class="question-form__date-wrapper">
      <input
        appInput
        formControlName="day"
        id="inputDay"
        type="number"
        class="question-form__input"
      />
      <label
        for="inputDay"
        class="question-form__date-label"
        [ngClass]="{ 'question-form__label--was-focused': init }"
        >Day</label
      >
    </div>
  </div>
  <label
    *ngIf="!form.get('date')?.valid && form.get('date')?.touched"
    for="formDateWrapper"
    class="question-form__error-label"
  >
    Please enter a valid date
  </label>
  <div id="formCategoryWrapper" class="question-form__input-wrapper">
    <input
      appInput
      formControlName="category"
      id="inputCategory"
      type="text"
      class="question-form__input"
    />
    <label
      for="inputCategory"
      class="question-form__label"
      [ngClass]="{ 'question-form__label--was-focused': init }"
      >Category</label
    >
  </div>
  <label
    *ngIf="!form.get('category')?.valid && form.get('category')?.touched"
    for="inputCategory"
    class="question-form__error-label"
  >
    Please enter a valid category (&#60; 40 chars)
  </label>
  <div id="formTagsWrapper" class="question-form__input-wrapper">
    <input
      appInput
      formControlName="tags"
      id="inputTags"
      type="text"
      class="question-form__input"
      maxlength="140"
    />
    <label
      for="inputTags"
      class="question-form__label"
      [ngClass]="{ 'question-form__label--was-focused': init }"
      >Tags <i>(optional)</i></label
    >
  </div>
  <label
    *ngIf="!form.get('tags')?.valid && form.get('tags')?.touched"
    for="inputTags"
    class="question-form__error-label"
  >
    Please enter a valid taglist (no special symbols), eg.: black, phone, tiger
  </label>
  <div class="question-form__buttons-wrapper">
    <button
      [disabled]="!form.valid"
      type="submit"
      class="question-form__button question-form__button--main"
    >
      {{ primaryBtnText }}
    </button>
    <button
      id="resetFormButton"
      type="button"
      class="question-form__button"
      [ngClass]="{
        'question-form__button--clear': secondaryBtnText === 'Clear',
        'question-form__button--delete': secondaryBtnText === 'Delete'
      }"
      (click)="onSecondaryBtnClick()"
    >
      {{ secondaryBtnText }}
    </button>
  </div>
</form>
