<form class="question-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <div id="formNameWrapper" class="question-form__input-wrapper">
    <input
      id="inputName"
      type="text"
      name="authorName"
      class="question-form__input"
      [ngClass]="{
        'question-form__input--invalid':
          authorName.invalid && authorName.touched
      }"
      (focus)="authorNameFocused = true"
      ngModel
      maxlength="40"
      required
      authorName
      #authorName="ngModel"
    />
    <label
      for="authorName"
      class="question-form__label"
      [ngClass]="{ 'question-form__label--was-focused': authorNameFocused }"
      >Name</label
    >
  </div>
  <label
    *ngIf="authorName.invalid && authorName.touched"
    for="authorName"
    class="question-form__error-label"
    >Please enter a valid name</label
  >
  <div id="formTitleWrapper" class="question-form__input-wrapper">
    <input
      id="inputTitle"
      type="text"
      name="title"
      class="question-form__input"
      maxlength="140"
    />
    <label for="inputTitle" class="question-form__label">Title</label>
  </div>
  <div
    id="formDescriptionWrapper"
    class="question-form__input-wrapper question-form__input-wrapper--textarea"
  >
    <textarea
      id="inputDescription"
      class="question-form__input question-form__input--textarea"
      name="description"
      maxlength="5000"
    ></textarea>
    <label
      for="inputDescription"
      class="question-form__label question-form__label--textarea"
      >Description</label
    >
  </div>
  <div id="formDateWrapper" class="question-form__input-wrapper">
    <div class="question-form__date-wrapper">
      <input
        id="inputYear"
        type="number"
        name="year"
        class="question-form__input"
      />
      <label for="inputYear" class="question-form__date-label">Year</label>
    </div>
    <div class="question-form__date-wrapper">
      <input
        id="inputMonth"
        type="number"
        name="month"
        class="question-form__input"
      />
      <label for="inputMonth" class="question-form__date-label">Month</label>
    </div>
    <div class="question-form__date-wrapper">
      <input
        id="inputDay"
        type="number"
        name="day"
        class="question-form__input"
      />
      <label for="inputDay" class="question-form__date-label">Day</label>
    </div>
  </div>
  <div id="formCategoryWrapper" class="question-form__input-wrapper">
    <input
      id="inputCategory"
      type="text"
      name="category"
      class="question-form__input"
      maxlength="40"
    />
    <label for="inputCategory" class="question-form__label">Category</label>
  </div>
  <div id="formTagsWrapper" class="question-form__input-wrapper">
    <input
      id="inputTags"
      type="text"
      name="tags"
      class="question-form__input"
      maxlength="140"
    />
    <label for="inputTags" class="question-form__label"
      >Tags <i>(optional)</i></label
    >
  </div>
  <div class="question-form__buttons-wrapper">
    <button
      type="submit"
      class="question-form__button question-form__button--main"
    >
      Save
    </button>
    <button
      id="resetFormButton"
      class="question-form__button question-form__button--clear"
    >
      Clear
    </button>
  </div>
</form>
